<script id="swimmingTemplate" type="text/html">
    <div class="text-right">
        <i class="glyphicon glyphicon-time"></i> {{ fullTime }}
    </div>
    <div class="bottom-buffer-line-dash">
        <div class="row">
            <div class="col-md-1">
                {{ startHour }}
            </div>
            <div class="col-md-6">
                <div data-bind="if: linkActive">
                    <a href="#" data-bind="click: $root.showSwimmingDetails">
                        {{ description }}
                    </a>

                    <div class="container top-buffer" data-bind="visible: showDetails" style="display: none">
                        <div class="col-md-3">
                            <!-- ko foreach: laneColumns -->
                                <div class="col-md-6">
                                    <!-- ko foreach: lanes -->
                                        <div class="lane" data-bind="css: { 'booked': isBooked }"></div>
                                    <!-- /ko -->
                                </div>
                            <!-- /ko -->
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-info" 
                                    data-bind="click: $root.basket.add,
                                        enable: !HasBeenBooked() && $root.eventsCanBook()">Book Lane</button>
                        </div>
                    </div>
                </div>

                <div data-bind="if: !linkActive">
                    <a style="color: #CCC">{{ description }}</a>
                </div>
            </div>
        </div> 
    </div> 
</script>